<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAviKiqC2F2yZNoNX_xaZECMB_L-ghMIGc</string>
	<key>GCM_SENDER_ID</key>
	<string>540104367528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.contratacr.app</string>
	<key>PROJECT_ID</key>
	<string>contratacr-95d6f</string>
	<key>STORAGE_BUCKET</key>
	<string>contratacr-95d6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540104367528:ios:3de19e869d2bf1b30a919d</string>
</dict>
</plist>